@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
:root {
    --azul-oscuro-color: hsl(243, 87%, 12%);
    --azul-sin-saturar:hsl(238, 22%, 44%);
    --azul-brillante: hsl(224, 93%, 58%);
    --cyan: hsl(170, 45%, 43%);
    --gris-azul: hsl(240, 75%, 98%);
    --gris:hsl(0, 0%, 75%);
    --font-size:36px;
}

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.body{
    width:1440;
    font-family: 'Raleway', sans-serif;

}
.header{
    width: 90%;
    margin: 3rem 2rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
}

nav{
    
   

}
.link{ 
    width: 250px;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none; color:hsl(243, 87%, 12%);
   
}
.card{
    display: flex;
    overflow: hidden;
    margin-top: 2rem;
}
.container-card-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 2rem;
    
}
.title-card{
    color:var(--azul-oscuro-color);
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    line-height: 50px;
}
.text-card{
    color: var(--azul-oscuro-color);
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 200;
    margin: 0.5em 0 0.5em 0em;
}
.container-card-right img{
    width:80%;
  
}
.curve-desktop{
   background-color:  hsl(240, 75%, 98%);
}
.container-card-bg{
    width: 100%;
    background-color: var(--azul-sin-saturar);
}

footer{
    background-color: hsl(243, 98%, 16%);
}